<%= TriviaWeb.PageView.render("game_questions.html", assigns) %>
<div class="columns">
  <div class="column">
    <p class="tag is-warning">Score</p>
  </div>
</div>
<%= for player <- @trivia.players do %>
  <div class="columns">
    <div class="column">
      <%= if player.name == @player_name, do: "👋" %><%= player.name %> - <%= player.points %>
    </div>
  </div>
<% end %>
