<div class="columns">
  <div class="column">
    <p class="tag is-success">Winners</p>
  </div>
</div>
<%= for player <- @trivia.winners do %>
  <div class="columns">
    <div class="column">
     <p><%= if @player_name == player.name, do: "🎉" %> <%= player.name %> - <%= player.points %></p>
    </div>
  </div>
<% end %>
<div class="columns">
  <div class="column">
    <p class="tag is-success">Q/A</p>
  </div>
</div>
<div class="columns">
  <div class="column">
      <ol>
        <%= for question <- @trivia.questions do  %>
          <li><p><%= Phoenix.HTML.raw question.text %> :
             <strong><%= Phoenix.HTML.raw question.answer %></strong></p></li>
        <% end %>
      </ol>
  </div>
</div>
