<div class="container">
  <div class="columns">
    <div class="column">
      <p class="subtitle">Player: <%= @player_name %></p>
    </div>
  </div>
  <%= case @trivia do %>
    <% nil -> %> <%= TriviaWeb.PageView.render("lobby.html", assigns) %>
    <% _ -> %> <%= TriviaWeb.PageView.render("game.html", assigns) %>
  <% end %>
</div>
