<div class="container">
  <div class="columns">
    <div class="column">
      <p class="subtitle">Player: <%= @player_name %></p>
    </div>
  </div>
  <%= case @in_game do %>
    <% true  -> %> <%= TriviaWeb.PageView.render("game.html", assigns) %>
    <% false -> %> <%= TriviaWeb.PageView.render("lobby.html", assigns) %>
  <% end %>
</div>
